<form class="form">
    <div class="form__group">
        <label for="email">Email:*</label>
        <input type="email" name="email" placeholder="Escreva se melhor e-mail">
    </div>

    <div class="form__group">
        <label for="nome">Nome:* </label>
        <input type="text" name="nome" placeholder="Escreva seu primeiro nome" required>
    </div>

    <div class="form__group">
        <label for="sobrenome">Sobrenome:* </label>
        <input type="text" name="sobrenome" placeholder="Escreva seu sobrenome" required>
    </div>

    <div class="form__group">
        <label for="dataAniversario">Data de Aniversario:* </label>
        <input type="text" name="dataAniversario" placeholder="Escreva sua data de aniversario" required>
    </div>

    <div class="form__group">
        <label for="telefone">Telefone:* </label>
        <input type="text" name="telefone" placeholder="Escreva seu numero de telefone" required>
    </div>

    <div class="form__group">
        <label for="senha">Senha:* </label>
        <input type="password" name="senha" placeholder="Escreva sua senha" required>
    </div>

    <input type="submit"  class="btn btn__success" value="{{ btnForm }}">
</form>
