// internos
@import './assets/scss/btn.scss';
@import './assets/scss/reset.scss';
@import './assets/scss/rem-calc.scss';
@import './assets/scss/variables.scss';

// Externos
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

html {
    box-sizing: border-box;
   // background: var(--primary-color);
    font-family: 'Roboto', sans-serif;
}

main {  
    padding: rem-calc(30) 0 0 0;
}